@charset "utf-8";

}#jumbo {
	min-width: 0px;
	background-color: #FBFBFD;
}
#main {
	margin-top: 25px;
	margin-right: 60px;
	margin-bottom: 25px;
	margin-left: 60px;
	color: #005682;
	font-size: xx-large;
}

